/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

table {
  table-layout: fixed;
  margin: 0 auto;
  max-width: 80rem;
  background: blue;
}

#game-title {
  font-size: 3rem;
  margin: 3rem 0;
}

.table > tbody > tr > td, 
.table > thead > tr > th {
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

td {
  height: 9rem;
}

.cell {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
}